path
src/helper/code.gs
requirements.txt
requirements-test.txt
unuse/
Makefile
htmlcov/
test/
.coverage.MacBook-Air-Nusanet.local.17869.XNKYMudx
.coverage.MacBook-Air-Nusanet.local.17874.XODXNmIx
.coveragerc
.coverage
.env
.env.dist
model_old.py
pytest.ini
settings.json
__pycache__

src/__pycache__
src/connection/__pycache__
src/helper
src/model/__pycache__
src/service/__pycache__
src/templates
src/validation/__pycache__

.pytest_cache
.venv
/bitbucket