<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Form Artikel</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container-fluid p-4">
  <form class="needs-validation p-4 bg-light rounded-3" novalidate>
    <div class="mb-3">
      <label for="articleTitle" class="form-label">Judul Artikel</label>
      <input type="text" class="form-control" id="articleTitle" required>
      <div class="valid-feedback">Yosh... Mantap!</div>
      <div class="invalid-feedback">
        Wah Judulnya kelupaan nih!
      </div>
    </div>

    <div class="mb-3">
      <label for="articleContent" class="form-label">Konten Artikel</label>
      <textarea class="form-control" id="articleContent" style="height: 200px;" required></textarea>
      <div class="valid-feedback">Yosh.. Mantap!</div>
      <div class="invalid-feedback">
        Yakin nih kontenya dikosongin...
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-4">
        <label for="validationAuthor" class="form-label">Author</label>
        <input type="text" class="form-control" id="validationAuthor" required>
        <div class="valid-feedback">Sip!</div>
        <div class="invalid-feedback">Hmm... Kamu kelupaan nih!</div>
      </div>

      <div class="col-md-4">
        <label for="validationOrganisasi" class="form-label">Organisasi</label>
        <select class="form-select" id="validationOrganisasi" name="organization_id" required>
          <option value="" selected disabled>Organisasi Artikel Terkait</option>
          {% for id, name in organization %}
            <option value="{{ id }}">{{ name }}</option>
          {% endfor %}
        </select>
        <div class="valid-feedback">Sip!</div>
        <div class="invalid-feedback">Pilih organisasi ya!</div>
      </div>

      <div class="col-md-4">
        <label for="validationStatus" class="form-label">Status</label>
        <select class="form-select" id="validationStatus" required>
          <option value="" selected disabled>Status</option>
          <option value="1">Draf</option>
          <option value="2">Accepted</option>
        </select>
        <div class="valid-feedback">Sip!</div>
        <div class="invalid-feedback">Pilih status dulu ya!</div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="{{url_for('main')}}"><button type="button" class="btn btn-secondary">Back</button></a>
  </form>

   <div class="container mt-5" style="max-height: 600px; overflow-y: auto;">
      <h4 class="mb-4">Artikel</h4>

      <table class="table table-bordered table-striped table-hover">
        <thead class="table-dark">
          <tr>
            <th scope="col">No</th>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
            <th scope="col">Organization</th>
            <th scope="col">Author</th>
            <th scope="col">Status</th>
            <th scope="col">Updated</th>
          </tr>
        </thead>
          <tbody>
              {% for article in articles %}
                  <tr>
                      <td>{{ loop.index }}</td>
                      <td>{{ article[1] }}</td>
                      <td>{{ article[2]}}</td>
                      <td>{{ article[3] }}</td>
                      <td>{{ article[4] }}</td>
                      <td>{{ article[5] }}</td>
                      <td>{{ article[6] }}</td>
                  </tr>
                  {% endfor %}

          </tbody>

      </table>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
<script>
  (function () {
    'use strict'

    var forms = document.querySelectorAll('.needs-validation')

    Array.prototype.slice.call(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }

          form.classList.add('was-validated')
        }, false)
      })
  })()
</script>

</body>
</html>
