<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Artikel</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container mt-5">
    <h4 class="mb-4">Artikel</h4>

    <table class="table table-bordered table-striped table-hover">
      <thead class="table-dark">
        <tr>
          <th scope="col">No</th>
          <th scope="col">Title</th>
          <th scope="col">Content</th>
          <th scope="col">Organization</th>
          <th scope="col">Author</th>
          <th scope="col">Status</th>
          <th scope="col">Updated</th>
        </tr>
      </thead>
        <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ article[1] }}</td>
                    <td>{{ article[2]}}</td>
                    <td>{{ article[3] }}</td>
                    <td>{{ article[4] }}</td>
                    <td>{{ article[5] }}</td>
                    <td>{{ article[6] }}</td>
                </tr>
                {% endfor %}

         </tbody>

    </table>
  </div>
</body>
</html>
